<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CodeSessionExpired</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body onLoad="DisplaySessionTimeout()">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">CodeSessionExpired</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <span id="sessionTime"></span>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - CodeSessionExpired - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<script>


        var sessionTimeout = 20;


        function DisplaySessionTimeout() {


            document.getElementById("sessionTime").innerText = sessionTimeout;
            document.getElementById("sessionTime").style.display = 'none';


                sessionTimeout = sessionTimeout - 1;

                if (sessionTimeout >= 0) {

                    window.setTimeout("DisplaySessionTimeout()", 60000);
                    document.getElementById("sessionTime").style.display = 'none'

                    if (sessionTimeout == 1) {
                        var seconds = sessionTimeout * 120;

                        document.getElementById("sessionTime").style.display = 'none'
                        setInterval(function () {
                            seconds--;

                            document.getElementById("sessionTime").innerHTML = "Your Session will expire in <b>"
                                + seconds + "</b> seconds. To continue, <a href='#' onclick='ResetSession()'>Click Here</a>";
                            document.getElementById("sessionTime").style.display = 'block'

                        }, 1000);
                    }

                }
                else {
                    alert("Your current Session is over.");
                    document.getElementById("sessionTime").style.display = 'none'
                    window.location.href = '@Url.Action("Logout", "Home", new { param1 = "", param2 = "" })';
                }
            }

        function ResetSession() {
            //Redirect to refresh Session.
            window.location = window.location.href;
        }

</script>
